* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none; }

html {
  font-size: 10px; }

.header {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 1rem 2rem; }
  .header a {
    font: 400 1.6rem/1.4 sans-serif;
    color: #2e90ff;
    text-decoration: none;
    padding: 1rem 0; }
