$gains_blue_1: rgb(46, 144, 255);
$gains_blue_2: rgb(85, 162, 250);
$gains_blue_3: rgb(140, 194, 255);
$gains_blue_4: rgb(218, 235, 255);

$black: #000;
$grey_1: rgb(43, 43, 43);
$grey_2: rgb(85, 85, 85);
$grey_3: rgb(128, 128, 128);
$grey_4: rgb(171, 171, 171);
$grey_5: rgb(214, 214, 214);
$white: #fff;

$font_heading_1: 700 3.2rem/1.4 sans-serif;
$font_heading_2: 700 2.4rem/1.4 sans-serif;
$font_heading_3: 700 2rem/1.4 sans-serif;
$font_heading_4: 700 1.8rem/1.4 sans-serif;
$font_heading_5: 700 1.6rem/1.4 sans-serif;
$font_body_large: 400 1.8rem/1.4 sans-serif;
$font_body: 400 1.6rem/1.4 sans-serif;
$font_body_small: 400 1.4rem/1.4 sans-serif;

$border_radius: 0.4rem;
